[Desktop Entry]
Name=UserFeedback Console
Name[ca]=Consola de l'UserFeedback
Name[ca@valencia]=Consola de l'UserFeedback
Name[nl]=Console voor UserFeedback
Name[pt]=Consola do UserFeedback
Name[sk]=Konzola UserFeedback
Name[sv]=Terminal för användaråterkoppling
Name[uk]=Консоль UserFeedback
Name[x-test]=xxUserFeedback Consolexx
Comment=Analytics and administration tool for UserFeedback servers.
Comment[ca]=Eina d'anàlisi i d'administració pels servidors d'UserFeedback.
Comment[ca@valencia]=Eina d'anàlisi i d'administració pels servidors d'UserFeedback.
Comment[nl]=Hulpmiddel voor analyse en beheer voor UserFeedback-servers
Comment[pt]=Ferramenta de análise e administração dos servidores do UserFeedback.
Comment[sk]=Nástroj na analytiku a správu pre servre UserFeedback.
Comment[sv]=Analys- och administrationsverktyg för användaråterkopplingsservrar.
Comment[uk]=Засіб для аналізу та адміністрування серверів UserFeedback.
Comment[x-test]=xxAnalytics and administration tool for UserFeedback servers.xx
GenericName=UserFeedback Management Console
GenericName[ca]=Consola de gestió de l'UserFeedback
GenericName[ca@valencia]=Consola de gestió de l'UserFeedback
GenericName[nl]=Beheerconsole voor UserFeedback
GenericName[pt]=Consola de Gestão do UserFeedback
GenericName[sk]=Konzola na správu UserFeedback
GenericName[sv]=Hanteringsterminal för användaråterkoppling
GenericName[uk]=Консоль керування UserFeedback
GenericName[x-test]=xxUserFeedback Management Consolexx
Exec=UserFeedbackConsole
Icon=search
Type=Application
Categories=Development;
X-KDE-StartupNotify=true
