[Desktop Entry]
Name=UserFeedback Console
Name[ca]=Consola de l'UserFeedback
Name[ca@valencia]=Consola de l'UserFeedback
Name[es]=Consola de UserFeedback
Name[gl]=Consola de UserFeedback
Name[nl]=Console voor UserFeedback
Name[pt]=Consola do UserFeedback
Name[sk]=Konzola UserFeedback
Name[sr]=Конзола за корисничке реакције
Name[sr@ijekavian]=Конзола за корисничке реакције
Name[sr@ijekavianlatin]=Konzola za korisničke reakcije
Name[sr@latin]=Konzola za korisničke reakcije
Name[sv]=Terminal för användaråterkoppling
Name[uk]=Консоль UserFeedback
Name[x-test]=xxUserFeedback Consolexx
Comment=Analytics and administration tool for UserFeedback servers.
Comment[ca]=Eina d'anàlisi i d'administració pels servidors d'UserFeedback.
Comment[ca@valencia]=Eina d'anàlisi i d'administració pels servidors d'UserFeedback.
Comment[es]=Herramienta de análisis y administración para servidores de UserFeedback.
Comment[gl]=Ferramenta de análise de datos e de administración para servidores de UserFeedback.
Comment[nl]=Hulpmiddel voor analyse en beheer voor UserFeedback-servers
Comment[pt]=Ferramenta de análise e administração dos servidores do UserFeedback.
Comment[sk]=Nástroj na analytiku a správu pre servre UserFeedback.
Comment[sr]=Алатка за администрирање и анализирање сервера корисничких реакција
Comment[sr@ijekavian]=Алатка за администрирање и анализирање сервера корисничких реакција
Comment[sr@ijekavianlatin]=Alatka za administriranje i analiziranje servera korisničkih reakcija
Comment[sr@latin]=Alatka za administriranje i analiziranje servera korisničkih reakcija
Comment[sv]=Analys- och administrationsverktyg för användaråterkopplingsservrar.
Comment[uk]=Засіб для аналізу та адміністрування серверів UserFeedback.
Comment[x-test]=xxAnalytics and administration tool for UserFeedback servers.xx
GenericName=UserFeedback Management Console
GenericName[ca]=Consola de gestió de l'UserFeedback
GenericName[ca@valencia]=Consola de gestió de l'UserFeedback
GenericName[es]=Consola de gestión de UserFeedback
GenericName[gl]=Consola de xestión de UserFeedback
GenericName[nl]=Beheerconsole voor UserFeedback
GenericName[pt]=Consola de Gestão do UserFeedback
GenericName[pt_BR]=Console de gerenciamento UserFeedback
GenericName[sk]=Konzola na správu UserFeedback
GenericName[sr]=Конзола за управљање корисничким реакцијама
GenericName[sr@ijekavian]=Конзола за управљање корисничким реакцијама
GenericName[sr@ijekavianlatin]=Konzola za upravljanje korisničkim reakcijama
GenericName[sr@latin]=Konzola za upravljanje korisničkim reakcijama
GenericName[sv]=Hanteringsterminal för användaråterkoppling
GenericName[uk]=Консоль керування UserFeedback
GenericName[x-test]=xxUserFeedback Management Consolexx
Exec=UserFeedbackConsole
Icon=search
Type=Application
Categories=Development;
X-KDE-StartupNotify=true
