[Desktop Entry]
Name=UserFeedback Console
Name[ca]=Consola de l'UserFeedback
Name[ca@valencia]=Consola de l'UserFeedback
Name[da]=Brugerfeedback-konsol
Name[de]=UserFeedback-Konsole
Name[en_GB]=UserFeedback Console
Name[es]=Consola de UserFeedback
Name[fi]=Käyttäjäpalautekonsoli
Name[fr]=Console UserFeedback
Name[gl]=Consola de UserFeedback
Name[it]=Console di UserFeedback
Name[nl]=Console voor UserFeedback
Name[pl]=Konsola Informacji Zwrotnej Użytkownika
Name[pt]=Consola do UserFeedback
Name[ru]=Консоль KUserFeedback
Name[sk]=Konzola UserFeedback
Name[sr]=Конзола за корисничке реакције
Name[sr@ijekavian]=Конзола за корисничке реакције
Name[sr@ijekavianlatin]=Konzola za korisničke reakcije
Name[sr@latin]=Konzola za korisničke reakcije
Name[sv]=Terminal för användaråterkoppling
Name[tr]=UserFeedback Konsolu
Name[uk]=Консоль UserFeedback
Name[x-test]=xxUserFeedback Consolexx
Name[zh_CN]=UserFeedback 控制台
Comment=Analytics and administration tool for UserFeedback servers.
Comment[ca]=Eina d'anàlisi i d'administració pels servidors d'UserFeedback.
Comment[ca@valencia]=Eina d'anàlisi i d'administració pels servidors d'UserFeedback.
Comment[da]=Analyse- og administrationsværktøj til brugerfeedback-servere.
Comment[en_GB]=Analytics and administration tool for UserFeedback servers.
Comment[es]=Herramienta de análisis y administración para servidores de UserFeedback.
Comment[fi]=Analyysi- ja hallintatyökalu käyttäjäpalautepalvelimiin.
Comment[fr]=Outil d'analyse et d'administration pour les serveurs UserFeedback.
Comment[gl]=Ferramenta de análise de datos e de administración para servidores de UserFeedback.
Comment[it]=Strumento per analitiche e amministrativo per i server di tipo UserFeedback.
Comment[nl]=Hulpmiddel voor analyse en beheer voor UserFeedback-servers
Comment[pl]=Narzędzie analizy i administracji dla serwerów Informacji zwrotnej użytkownika
Comment[pt]=Ferramenta de análise e administração dos servidores do UserFeedback.
Comment[sk]=Nástroj na analytiku a správu pre servre UserFeedback.
Comment[sr]=Алатка за администрирање и анализирање сервера корисничких реакција
Comment[sr@ijekavian]=Алатка за администрирање и анализирање сервера корисничких реакција
Comment[sr@ijekavianlatin]=Alatka za administriranje i analiziranje servera korisničkih reakcija
Comment[sr@latin]=Alatka za administriranje i analiziranje servera korisničkih reakcija
Comment[sv]=Analys- och administrationsverktyg för användaråterkopplingsservrar.
Comment[tr]=UserFeedback sunucuları için analiz ve yönetim aracı.
Comment[uk]=Засіб для аналізу та адміністрування серверів UserFeedback.
Comment[x-test]=xxAnalytics and administration tool for UserFeedback servers.xx
Comment[zh_CN]=UserFeedback 服务器的分析和管理工具。
GenericName=UserFeedback Management Console
GenericName[ca]=Consola de gestió de l'UserFeedback
GenericName[ca@valencia]=Consola de gestió de l'UserFeedback
GenericName[da]=Konsol til håndtering af brugerfeedback
GenericName[en_GB]=UserFeedback Management Console
GenericName[es]=Consola de gestión de UserFeedback
GenericName[fi]=Käyttäjäpalautteen hallintakonsoli
GenericName[fr]=Console de gestion UserFeedback
GenericName[gl]=Consola de xestión de UserFeedback
GenericName[it]=Console di gestione di UserFeedback
GenericName[nl]=Beheerconsole voor UserFeedback
GenericName[pl]=Konsola Zarządzania Informacją Zwrotną Użytkownika
GenericName[pt]=Consola de Gestão do UserFeedback
GenericName[pt_BR]=Console de gerenciamento UserFeedback
GenericName[sk]=Konzola na správu UserFeedback
GenericName[sr]=Конзола за управљање корисничким реакцијама
GenericName[sr@ijekavian]=Конзола за управљање корисничким реакцијама
GenericName[sr@ijekavianlatin]=Konzola za upravljanje korisničkim reakcijama
GenericName[sr@latin]=Konzola za upravljanje korisničkim reakcijama
GenericName[sv]=Hanteringsterminal för användaråterkoppling
GenericName[tr]=UserFeedback Yönetim Konsolu
GenericName[uk]=Консоль керування UserFeedback
GenericName[x-test]=xxUserFeedback Management Consolexx
GenericName[zh_CN]=UserFeedback 管理控制台
Exec=UserFeedbackConsole
Icon=search
Type=Application
Categories=Development;
X-KDE-StartupNotify=true
